<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <style>
      .otp-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        visibility: hidden;
      }

      h2 {
        color: #333;
      }

      .otp-input {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      .otp-input input {
        width: 300px;
        height: 40px;
        text-align: center;
        font-size: 36px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 8px;
        color: red;
      }

      button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
      }

      button:hover {
        background-color: #45a049;
      }
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f2f2f2;
      }

      .forgot-password-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
      }

      h2 {
        color: #333;
      }

      input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <div class="forgot-password-container">
      <%=locals.msg %>
      <h2>Forgot Password</h2>
      <p>Enter your email address to reset your password.</p>
      <form action="/forgot" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <button type="submit">Reset Password</button>
      </form>
    </div>
  </body>
</html>
