<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <%=locals.msg %>
        <form id="registrationForm" action="/register" method="post">
          <h2>Register</h2>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />

          <a href="/auth/google">
            <img
              src="https://pbs.twimg.com/profile_images/1605297940242669568/q8-vPggS_400x400.jpg"
              alt=""
              width="50"
              height="50"
            />
          </a>

          <button type="submit">Register</button>
        </form>
        <a href="/login">Login</a>
      </div>
    </div>
  </body>
</html>
